@font-face {
    font-family: Secular_One;
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}



#navbckgrnd {
    background-color: #B73E3E !important;
    padding: 0.8%;
}

.nav-link {
    font-size: 1.2em !important;
    font-weight: bold;
    font-family: Secular_One;
    letter-spacing: 1.2px;
    color: #DBC8AC!important;
}