/*
    FileName: PageStyles.css
    Purpose: contains page styles for different pages
    Author: Nausheen Salauddin
*/

/*reference downloaded font*/
@font-face {
    font-family: Secular_One;
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}

/*page background-color*/
html, body {
    background-color: #cab7b7 !important;
}

/*header styles*/
h1 {
    padding-top: 3%;
    color: #501B1D !important;
    font-family: Secular_One, sans-serif;
}

h2 {
    padding-top: 3%;
    color: #64485C !important;
    font-family: Secular_One, sans-serif;
}

/*Main text Styles*/
.index_personal_info {
    padding-top: 3%;
    color: #64485C !important;
    font-family: 'Arial Rounded MT', sans-serif;
}

.index_sub_info {
    color: #64485C !important;
    font-family: 'Arial Rounded MT', sans-serif;
}

p > a {
    color: #64485C;
    text-decoration: underline;
}

a:hover {
    color: #501B1D;
}

/*Home Page*/
.index_heading {
    font-style:italic;
}

/*About Us Page*/
.about_text {
    text-align: justify;
    color: #4D1E23 !important;
    font-size: 1.2em;
}

.about_heading {
    text-align: left!important;
}

/*Privacy Page*/
.privacy_text {
    text-align: justify;
    color: #4D1E23 !important;
    font-size: 1.2em;
}

/*DVD Index Page*/
.create_link {
    color: #D02229 !important;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}

.edit_link {
    color: #D02229 !important;
    font-weight: bold;
    text-decoration: none;
}


/*DVD Create, Edit Page*/
.style_form {
    justify-content: center !important;
}

.back_link {
    color: #D02229 !important;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    float:right;
}

/*DVD Details Page*/
.edit_link {
    color: #D02229 !important;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
}

/*Table styles for DVDs*/
tr {
    border: 2px solid #501B1D;
}

thead th {
    border-bottom: 2px solid #501B1D !important;
    color: #501B1D !important;
}

input[type="submit"] {
    background-color: #501B1D !important;
    font-family: Secular_One, sans-serif;
    color: white !important;
    border: none;
    border-radius: 8%;
    padding: 4px;
}

/*footer syles*/
.footer {
    border:none!important;
}

.footer > div > a {
    color: darkgray!important;
}
