@model LegacyView.Models.DVD

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create</h1>

<h4>DVD</h4>
<hr />
<div class="row style_form">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DVDName" class="control-label"></label>
                <input asp-for="DVDName" class="form-control" />
                <span asp-validation-for="DVDName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DVDGenre" class="control-label"></label>
                <input asp-for="DVDGenre" class="form-control" />
                <span asp-validation-for="DVDGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DVDDescription" class="control-label"></label>
                <input asp-for="DVDDescription" class="form-control" />
                <span asp-validation-for="DVDDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DVDPrice" class="control-label"></label>
                <input asp-for="DVDPrice" class="form-control" />
                <span asp-validation-for="DVDPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DVDCustomerReview" class="control-label"></label>
                <input asp-for="DVDCustomerReview" class="form-control" />
                <span asp-validation-for="DVDCustomerReview" class="text-danger"></span>
            </div>
            <!--Added for production Company-->
            <div class="form-group">
                <label asp-for="DVDProductionCompany" class="control-label"></label>
                <input asp-for="DVDProductionCompany" class="form-control" />
                <span asp-validation-for="DVDProductionCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="back_link" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
