@{
    ViewData["Title"] = "About Us";
}
<div class="text-center">
    <h1 class="display-4">Legacy Views</h1>
    <div>
        <h2 class="about_heading">About the product</h2>
        <p class="about_text">This product is used to view DVD information such as name, genre, and other details. You can add DVDs to the list, as well as search using either genre or DVD name. </p>
    </div>

    <div>
        <h2 class="about_heading">About the company</h2>
        <p class="about_text">Started in 2022, we are relatively new and headquartered in the beautiful city of Windsor, Ontario Canada. From the best tech practices to accurate information, our company will never fail to satisfy our customers.</p>
    </div>

    <div>
        <h2 class="about_heading">Our Staff</h2>
        <p class="about_text">Our compnay has very enthisiastic staff with the CEO, Ms. Nausheen Salauddin heading the tech operations.</p>
    </div>

</div>