@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Legacy Views</h1>
    <p class="index_sub_info"> An amazing place to view about your favourite DVDs</p>
</div>
<div class="text-center  index_personal_info">
    <h2 class="index_heading">Created by: Nausheen Salauddin</h2>
    <p>Done as requirement for WEB452 Class at St. Clair College</p>
    <p>Steps followed from <a href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-3.1">building Web apps with ASP.NET Core</a> tutorial. </p>
</div>

<div class="collage">
    <img src="~/images/starTrek.jpeg" alt="DVD Posters" />
    <img src="~/images/companyOfActors.jpeg" alt="DVD Posters" />
    <img src="~/images/grimrock.jpeg" alt="DVD Posters" />
    <img src="~/images/soundOfMusic.jpeg" alt="DVD Posters" />
    <img src="~/images/bigChill.jpeg" alt="DVD Posters" />
    <img src="~/images/badMan.jpeg" alt="DVD Posters" />
    <img src="~/images/sopranos.jpeg" alt="DVD Posters" />
    <img src="~/images/lonesome.jpeg" alt="DVD Posters" />
    <img src="~/images/giantBuddha.jpeg" alt="DVD Posters" />
</div>
