@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Legacy Views</h1>
    <p class="index_sub_info"> An amazing place to view about your favourite DVDs</p>
</div>
<div class="text-center  index_personal_info">
    <h2>Created by: Nausheen Salauddin</h2>
    <p>Done as requirement for WEB452 Class at St. Clair College</p>
    <p>Steps followed from <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> tutorial. </p>
</div>
